@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 8, 76, 97;
  /* --card-bg: 244, 255, 248; */
  --card-shadow: 75, 36, 74;
  --header: 192, 50, 33;
}

.dark {
  --background: 33, 2, 3;
  /* --card-bg: 244, 255, 248; */
  --card-shadow: 75, 36, 74;
  --header: 192, 50, 33;
}